footer {
    font-size: 14px;
    padding: 8px;
    list-style-type: none;
}

.logo{
    height: 300px;
    width: 300px;
    border: white;
    border-radius: 10px;
    margin-left: auto;
} 

.thumbnail {
    height: 200px;
    width: 250px;
}

.disablecursor
{
    text-decoration: none;
    color: inherit;
    cursor: inherit;
}

.style-font {
    font-family: 'Caprasimo', cursive;
}

section {
    background-color: lightgrey;
}

.navbar {
    color: white;
}

.underline  {
    text-decoration: underline;
}

